<!DOCTYPE html>
<html>
  <head>
    <title>Portfolio</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
     <script src="https://kit.fontawesome.com/fc19e69a08.js"></script>
  </head>

  <body>

  <div class="icon-bar">
    <a class="active" a href="/"><i class="fas fa-home fa-2x" style="color:#0e1f2e"></i></a> 
    <a href="mailto:ruby7r1x@gmail.com"><i class="fa fa-envelope fa-2x" style="color:#0e1f2e"></i></a> 
    <a href="https://github.com/SiriMitchell"><i class="fab fa-github fa-2x" style="color:#0e1f2e"></i></a>
    <a href="https://www.linkedin.com/in/sirimitchell/"><i class="fab fa-linkedin fa-2x" style="color:#0e1f2e"></i></a> 
</div>





    <%= yield %>
  </body>
</html>
